In [2]:
#lambda function ---> small anonmous function
#lamba arguments : exoression

In [4]:
x=lambda a:a + 10
x(5)

15

In [8]:
x= lambda a,b : a+b
x(5,10)

15

In [ ]:
##map function ---->  map(function,iterable) 
def sq(num):
    return num*num

lst=[1,2,3,4,5]
result = map(sq,lst)
print(list(result))

[1, 4, 9, 16, 25]

In [ ]:
#map function with lambda
lst =[1,2,3,4,5]
result=map(lambda num:num*num,lst)
print(list(result))

[1, 4, 9, 16, 25]

In [16]:
##filter ----> filter(function, iterable)
lst=[1,2,3,4,5]
result=filter(lambda num : num%2==0, lst)
print(list(result))

[2, 4]

In [17]:
#reduce
from functools import reduce 
lst= [1,2,3,4,5]
result=reduce(lambda num1,num2:num1+num2,lst)
print(result)

15

In [19]:
#from left to right
#[3,3,4,5]----[6,4,5]-----[10,5]---[15]

In [22]:
##enumerate function
lst = [ "mohan","rohan","ram"]
# result = enumerate(lst)
result= enumerate(lst,start=10)
print(list(result))

[(10, 'mohan'), (11, 'rohan'), (12, 'ram')]

In [23]:
#zip function ----it is use to combine to or more iterable
lst1 =["mohan ","sohan","ram"]
lst2=[1,2,3]
result=zip(lst1,lst2)
print(list(result))

[('mohan ', 1), ('sohan', 2), ('ram', 3)]

In [ ]:
lst1 =["mohan ","sohan","ram"]
lst2=[1,2]
result=zip(lst1,lst2)
print(list(result))   #in this we are taking only two arguments so it is only giving two values

[('mohan ', 1), ('sohan', 2)]

In [ ]:
#unzipped
zipped = [('mohan ', 1), ('sohan', 2)]
result,number = zip(*zipped)
print(list(result))
print(list(number))

['mohan ', 'sohan']
[1, 2]